<div class="announcements">
    <button>
        <div class="title">
            <p>X Niedziela Zwykła</p>
            <p>01.01.2023</p>
        </div>
    </button>
    <button>
        <div class="title">
            <p>IX Niedziela Zwykła</p>
            <p>01.01.2023</p>
        </div>
    </button>
    <button>
        <div class="title">
            <p>VII Niedziela Zwykła</p>
            <p>01.01.2023</p>
        </div>
    </button>
    <button>
        <div class="title">
            <p>VI Niedziela Zwykła</p>
            <p>01.01.2023</p>
        </div>
    </button>
    <button>
        <div class="title">
            <p>V Niedziela Zwykła</p>
            <p>01.01.2023</p>
        </div>
    </button>
    <button>
        <div class="title">
            <p>IV Niedziela Zwykła</p>
            <p>01.01.2023</p>
        </div>
    </button>
    <button>
        <div class="title">
            <p>III Niedziela Zwykła</p>
            <p>01.01.2023</p>
        </div>
    </button>
</div>
